*{
    padding: 0;
    margin: 0;
    font-family:sans-serif ;
}

body{
    background-color:rgb(25, 38, 38) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

h2{
    color: white;
    font-size: 40px;
}

.prompt{
    background-color: white;
    padding: 5px;
    width: 620px;
    border: 5px solid rgba(25, 38, 38, 0.2);
    border-radius:10px ;

} 

input,button {
    padding: 10px;
    border: none;
    font-size: 20px;
}

input{
        background-color: rgb(25, 38, 38) ;
        width: 75%;
        outline: none;
        color: white;
}

button {
    background-color: rgba(25, 38, 38, 0.2) ;
    width: 20%;
    cursor: pointer;
    border-radius: 4px;
}

button:hover{
    background-color: rgba(50, 40, 38, 8) ;
    color: white;
}
.image{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.image div {
    height: 400px;
    width: 400px;
    background-color:  rgba(25, 38, 38, 0) ;
    border-radius: 10px;
    border: 3px solid white;
}

.image div img {
    width: 100%;
}